body {
  padding-top: 50px;
}
.bs-callout {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout > h4 > span {
  color: #777;
}

.bs-callout-red {
  color: #ce4844;
  border-left-color: #ce4844;
}

.bs-callout-blue {
  color: #337ab7;
  border-left-color: #337ab7;
}
.bs-callout-green {
  color: #5cb85c;
  border-left-color: #5cb85c;
}
.bs-callout-orange {
  color: #f0ad4e;
  border-left-color: #f0ad4e;
}

.navbar-brand {
  display: block;
  height: 54px;
  text-indent: 60px;
  outline: none;
  background-image: url(//cdn.supercell.com/supercell.com/170123093213/all/themes/supercell/img/logo_supercell.png);
  background-repeat: no-repeat;
  color: #fff;
}

.navbar-inverse .navbar-brand {
  color: #fff;
}
